:root {
  --main-bg-color: #121214;

  --modal-bg-color: #212123;
  --modal-header-color: #29292a;
  --modal-footer-color: #29292a;

  --drop-down-menu-bg: #29292a;

  --button-color: #2160ec;
  --button-color-hover: #174bbb;
  --button-text: #eee;
  --button-text-hover: #eee;

  --accent-color: 67, 122, 241;
  --accent-color-hover: #5689f7;

  --link-color: #437af1;
  --link-color-hover: #5689f7;
  --label-text-color: #eee;

  --text: #eee;
  --text-hover: rgba(238, 238, 238, 0.6);
  --text-muted: rgba(238, 238, 238, 0.8);

  /*Specials*/
  --arr-queue-color: #a3be8c; /* Servarr apps + Bazarr*/
  --plex-poster-unwatched: #d08770;
  --petio-spinner: invert(83%) sepia(9%) saturate(1787%) hue-rotate(156deg)
    brightness(85%) contrast(83%); /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
  --gitea-color-primary-dark-4: 121, 184, 202;
  --overseerr-gradient: linear-gradient(
    180deg,
    rgba(46, 52, 64, 0.17) 0%,
    rgba(46, 52, 64) 100%
  );
}
